<%- include('partials/header', { title: 'Companion\'s Corner - Login' }) %>

<div class="main-wrapper">
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/find">Find a dog/cat</a>
        <a href="/dog_care">Dog Care</a>
        <a href="/cat_care">Cat Care</a>
        <a href="/create_account">Create an Account</a>
        <a href="/giveaway">Have a pet to give away</a>
        <a href="/contact">Contact Us</a>
        <% if (user) { %>
            <a href="/logout">Log Out</a>
        <% } %>
    </nav>
    <main class="content" style="padding-left: 250px; padding-top: 250px; padding-bottom: 60px;">
        <h2>Login to Your Account</h2>
        <% if (message) { %>
            <p style="color: red;"><%= message %></p>
        <% } %>
        <form method="POST" action="/logins">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        
            <button type="submit">Login</button>
        </form>        
        <p>Don't have an account? <a href="/create_account" style="color: #45a049; text-decoration: underline;">Register here</a>.</p>
    </main>
</div>

<%- include('partials/footer') %>
